[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
pytorch-lightning = "*"
hydra-core = "*"

[packages]
torch = "*"

[requires]
python_version = "3.8"
