[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"
hydra-core = "*"
matplotlib = "*"
torchvision = "*"
sphinx = "*"

[packages]
torch = "*"
pytorch-lightning = "*"

[requires]
python_version = "3"
