[tool.poetry]
name = "high-order-layers-torch"
version = "1.0.0"
description = "High order layers in pytorch"
authors = ["jloverich <john.loverich@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
torch = "*"
pytorch-lightning = "*"

[tool.poetry.dev-dependencies]
pbr = "*"
hydra-core = "*"
matplotlib = "*"
torchvision = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
